#Configuraciones de las variables de entorno

DB_HOST= "nombre del host para el inicio de seccion en el gestor de bd"
DB_NAME= "nombre de la bd" cibercafe_db
DB_USER= "nombre del usuario del gestor de bd"
DB_PASSWORD= "password del usuario del gestor de la bd"
DB_CHARSET= "Codificacion de caracteres" utf8mb4
DB_PORT= "Puerto de la base de datos local" 3306
SECRET_KEY_TOKEN= "Frase para hasear contraseñas (genera uno con python -c "import secrets; print(secrets.token_urlsafe(32))" o coloca uno a preferencia)"